.bar {
	fill: steelblue;
	shape-rendering: crispEdges;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

svg {
	position: absolute;
	top: 100px;
}

.ext.btn {
    margin-top:10px;
	}

.ext.bg-danger {
    background-color: red;
    color: pink;
	}

input.ext {
    margin-top:10px;
    margin-left: 20px;
    width: 40px;
